// CSS RESET

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input {
    font: inherit;
}

// GENERAL STYLES

html {
    font-size: 62.5%;

    // 348/16/=21.75
    @media only screen and (max-width: 21.75em) {
        font-size: 9px;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;

    background-color: #ff7979;
    background-image: url(./images/bg-intro-mobile.png);
    background-position: center;
    background-size: cover;

    @media only screen and (min-width: 45em) {
        background-image: url(./images/bg-intro-desktop.png);
    }

    // 70*16=1120
    @media only screen and (min-width: 72em) {
        display: grid;
        grid-template-columns: 52.5rem 54rem;
        grid-template-rows: 55.8rem;
        column-gap: 4.5rem;
        margin: 12.1rem auto;
        width: 112rem;
        align-items: center;
    }
}

.h1 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: -0.291667px;
    color: #ffffff;

    @media only screen and (min-width: 72em) {
        font-size: 5rem;
        line-height: 5.5rem;
        letter-spacing: -0.520833px;
    }
}

.paragraph {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #ffffff;

    @media only screen and (min-width: 72em) {
    }
}

// HEADER

.header {
    text-align: center;
    max-width: 70rem;
    margin: 8.8rem auto 6.4rem auto;
    padding: 0 2.4rem;

    @media only screen and (min-width: 72em) {
        grid-column: 1 / 2;
        max-width: revert;
        text-align: left;
        padding: 0;
        margin: 0;
    }
}

// CARD

.main {
    padding: 0 2.4rem 6.8rem 2.4rem;

    @media only screen and (min-width: 72em) {
        grid-column: 2 / 3;
        padding: 0;
    }
}

.card {
    max-width: 70rem;
    margin: 0 auto 2.4rem auto;
    text-align: center;
    background-color: rgb(94, 84, 164);
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.1469);
    border-radius: 1rem;
    padding: 1.8rem 6.6rem;

    @media only screen and (min-width: 72em) {
        margin: 0;
        margin-bottom: 2.4rem;
        max-width: revert;
        padding: 1.7rem;
    }

    &__p {
        font-size: 1.5rem;
        line-height: 2.6rem;
        letter-spacing: 0.267857px;
        color: #ffffff;

        &--up {
            font-weight: 700;
        }

        &--down {
            font-weight: 400;
        }
    }
}

// UTILITIES

.u-margin-bottom-small {
    margin-bottom: 1.6rem;

    @media only screen and (min-width: 72em) {
        margin-bottom: 3.2rem;
    }
}

.u-margin-bottom-16px-20px {
    margin-bottom: 1.6rem;

    @media only screen and (min-width: 45em) {
        margin-bottom: 2rem;
    }
}

.u-margin-bottom-8px {
    margin-bottom: 0.8rem;
}

// END
