* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 21.75em) {
  html {
    font-size: 9px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #ff7979;
  background-image: url(./images/bg-intro-mobile.png);
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 45em) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
  }
}
@media only screen and (min-width: 72em) {
  body {
    display: grid;
    grid-template-columns: 52.5rem 54rem;
    grid-template-rows: 55.8rem;
    column-gap: 4.5rem;
    margin: 12.1rem auto;
    width: 112rem;
    align-items: center;
  }
}

.h1 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.291667px;
  color: #ffffff;
}
@media only screen and (min-width: 72em) {
  .h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    letter-spacing: -0.520833px;
  }
}

.paragraph {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
}
.header {
  text-align: center;
  max-width: 70rem;
  margin: 8.8rem auto 6.4rem auto;
  padding: 0 2.4rem;
}
@media only screen and (min-width: 72em) {
  .header {
    grid-column: 1/2;
    max-width: revert;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

.main {
  padding: 0 2.4rem 6.8rem 2.4rem;
}
@media only screen and (min-width: 72em) {
  .main {
    grid-column: 2/3;
    padding: 0;
  }
}

.card {
  max-width: 70rem;
  margin: 0 auto 2.4rem auto;
  text-align: center;
  background-color: rgb(94, 84, 164);
  box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.1469);
  border-radius: 1rem;
  padding: 1.8rem 6.6rem;
}
@media only screen and (min-width: 72em) {
  .card {
    margin: 0;
    margin-bottom: 2.4rem;
    max-width: revert;
    padding: 1.7rem;
  }
}
.card__p {
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: 0.267857px;
  color: #ffffff;
}
.card__p--up {
  font-weight: 700;
}
.card__p--down {
  font-weight: 400;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 72em) {
  .u-margin-bottom-small {
    margin-bottom: 3.2rem;
  }
}

.u-margin-bottom-16px-20px {
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 45em) {
  .u-margin-bottom-16px-20px {
    margin-bottom: 2rem;
  }
}

.u-margin-bottom-8px {
  margin-bottom: 0.8rem;
}

:root {
  --color-input-placeholder: rgba(61, 59, 72, 0.75);
}

.form {
  max-width: 70rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.1469);
  padding: 2.4rem;
  border-radius: 1rem;
}
@media only screen and (min-width: 72em) {
  .form {
    max-width: revert;
    padding: 4rem;
  }
}
.form label {
  display: block;
  position: relative;
}
.form input {
  width: 100%;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 0.25px;
  color: #3d3b48;
  padding: 1.5rem 1.95rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  margin: 1px;
}
.form input::placeholder {
  color: var(--color-input-placeholder);
}
.form input:focus {
  outline: none;
  border: 1px solid #5e54a4;
}
.form button {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  background-color: #38cc8b;
  box-shadow: 0 -0.4rem 0 0 rgba(0, 0, 0, 0.0909) inset;
  color: #fff;
  padding: 1.5rem 4.3rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}
.form button:hover {
  background-color: #77e2b3;
}
.form button:active {
  transform: scale(0.97);
}
.form__terms {
  margin: 0 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2.1rem;
  text-align: center;
  color: #bab7d4;
}
.form__terms__link, .form__terms__link:link, .form__terms__link:visited {
  text-decoration: none;
  font-weight: 700;
  color: #ff7979;
}
.form__error-icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.15s;
}
@media only screen and (min-width: 72em) {
  .form__error-icon {
    right: 2.7rem;
  }
}
.form__error-message {
  position: absolute;
  bottom: -1.5rem;
  right: 0.5rem;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: #ff7979;
  opacity: 0;
  transition: opacity 0.15s;
}
@media only screen and (min-width: 72em) {
  .form__error-message {
    bottom: -1.6rem;
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
